.page {
    margin: 0;
    padding: 0;
    background-color: #FFF500;
    font-family: "Inter", "Arial", sans-serif;
    color: #303030;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.page-container {
    max-width: 1082px;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.content {
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.current-info {
    margin: 0 0 32px 0;
}

.date {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 205px 0 0 0;
}

.tasks-counter {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 8px 0 0 0;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center
}

.todo-completed {
    display: none;
}

.pseudo-checkbox::before {
    content: "\00A0";
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.todo-completed:checked + .pseudo-checkbox::before {
    content: "\2713";
}

/*.todo-completed:checked + .todo-description {*/
/*    text-decoration: line-through;*/
/*}*/

.description-container {
    margin: 0 0 24px 16px;
}

.todo-description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
}

.todo-tag {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 44px 35px 0;
}

.todo-button {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    border: none;
    padding: 0;
    background-color: #000000;
    background-image: url(./images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease;
    cursor: pointer;

}

.todo-button:hover {
    opacity: 0.8;
}


